// variables
$salmon: #F98F8F;

// mixin
@mixin bg-white {
    background-color: white;
    box-shadow: 0px 3px 10px rgba(122, 122, 122, 0.562);
    border-radius: 10px;
}

// basic styling
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #505050;
}

body{
    height: 100vh;
    width: 100vw;
    border: 5px solid black;
    background: linear-gradient(0, rgba(255,255,255,1) 35%, rgba(249,143,143,1) 0%);
}

::-webkit-scrollbar{
    display: none;
}

// header
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;

    #logo{
        color: white;
        font-size: 3.5rem;
        font-weight: 300;
    }

    #keyword{
        padding: 5px;
        border-radius: 20px;
        border: none;
        margin-right: 20px;
        box-shadow: 0px 1px 3px #505050;
    }
    #keyword:focus{
        outline: none;
    }

    #search-btn{
        padding: 5px 20px;
        border-radius: 5px ;
        border: none;
        cursor: pointer;
        color: #505050;
        background-color: white;
        box-shadow: 0px 1px 3px #505050;
    }

    #search-btn:focus{
       outline: none;
    }
    
    #search-btn:hover{
        text-decoration: underline;
    }
}


// main container styling
#main_container{
    display: flex;
    width: 96%;
    height: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: space-between;
}

// content area styling
.content_area{
    @include bg-white;
    width: 60%;
    display: flex;
    flex-direction: column;
    

    #card_heading{
        color: white;
        font-size: 1.2rem;
        width: 100%;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        background-image: linear-gradient(90deg, #F8A2A2, #F66565)
    }

    #card_body{
        width: 100%;
        padding: 5px 10px;
        overflow: scroll;
        color: #999999;

    }
}

// books area
.books_heading{
    @include bg-white;
    width: 18%;
    text-align: center;
    padding: 10px
}

// details area
.details_about_words{
    @include bg-white;
    width: 18%;
    display: flex;
    flex-direction: column;
    padding: 5px 4px;

    .most_used_head, .least_used_head{
        text-align: center;
    }

    .underline{
        width: 80%;
        height: 1px;
        margin: 0 auto;
        background-color: #616161;
    }

    .word_frequency_display{
        width: 100%;
        height: 35%;
    }

    .document_stat_head{
        text-align: center;
    }
}